.container
    .well
        form.form-horizontal(name="SignupForm", ng-submit="vm.signup()", novalidate)
            fieldset
                legend Signup Form
                .form-group
                    label.col-md-2.control-label(for="email") Email
                    .col-md-10
                        input.form-control(name="email", type="email", placeholder="Email", ng-model="vm.email", required)
                        p.help-block(ng-show="SignupForm.email.$error.required") Email is required
                        p.help-block(ng-show="(SignupForm.email.$dirty && SignupForm.email.$error.email)") Please enter a proper email
                .form-group
                    label.col-md-2.control-label(for="password") Password
                    .col-md-10
                        input.form-control(name="password", type="password", placeholder="Password", ng-model="vm.password", required)
                        p.help-block(ng-show="SignupForm.password.$error.required") Password is required
                .form-group
                    label.col-md-2.control-label(for="confirmPassword") Confirm Password
                    .col-md-10
                        input.form-control(name="confirmPassword", type="password", placeholder="Confirm Password", ng-model="vm.confirmPassword", required, validate-equals="vm.password")
                        p.help-block(ng-show="SignupForm.confirmPassword.$error.validateEquals") Password values should match
                .form-group
                    label.col-md-2.control-label(for="fname") First Name
                    .col-md-10
                        input.form-control(name="fname", type="text", placeholder="First Name", ng-model="vm.fname", required)
                        p.help-block(ng-show="SignupForm.fname.$error.required") Please enter your first name
                .form-group
                    label.col-md-2.control-label(for="lname") Last Name
                    .col-md-10
                        input.form-control(name="lname", type="text", placeholder="Last Name", ng-model="vm.lname", required)
                        p.help-block(ng-show="SignupForm.lname.$error.required") Please enter your last name
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            input.form-control.btn.btn-primary(type="submit" value="Sign up" ng-disabled="SignupForm.$invalid")
                            | &nbsp;
                            a.btn.btn-default(href="/") Cancel
