.container
    .well
        form.form-horizontal(name="SignupForm" ng-submit="vm.signup()")
            fieldset
                legend Signup Form
                .form-group
                    label.col-md-2.control-label(for="email") Email
                    .col-md-10
                        input.form-control(name="email", type="email", placeholder="Email", ng-model="vm.email", required)
                .form-group
                    label.col-md-2.control-label(for="password") Password
                    .col-md-10
                        input.form-control(name="password", type="password", placeholder="Password", ng-model="vm.password", required)
                .form-group
                    label.col-md-2.control-label(for="fname") First Name
                    .col-md-10
                        input.form-control(name="fname", type="text", placeholder="First Name", ng-model="vm.fname", required)
                .form-group
                    label.col-md-2.control-label(for="lname") Last Name
                    .col-md-10
                        input.form-control(name="lname", type="text", placeholder="Last Name", ng-model="vm.lname", required)
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            input.form-control.btn.btn-primary(type="submit" value="Sign up" ng-disabled="SignupForm.$invalid")
                            | &nbsp;
                            a.btn.btn-default(href="/") Cancel
