.container
    .jumbotron
        h1 Cybea
        p Welcome to Cybea the first real social network for foodies
    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")

